:root {
  --main-color: #7441A1;

  --gray-50: #EFEFEF;
  --gray-100: #E3E3E3;
  --gray-500: #898989;
  --gray-600: #404040;
  --gray-700: #212121;

  --light-700: #F8F5FA;
  
  --transition-standard: all 100ms ease-in-out;
  --box-shadow-standard: 1px 2px 8px 0px rgba(0, 0, 0, 0.08);
}